.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f9f9f9;
}
.header_img {
  height: 40px;
  width: 90px;
  object-fit: contain;
}
.header_icon {
  padding: 20px;
}
